<a href="https://colab.research.google.com/github/adeshsingh5505/pdfExtract/blob/main/Dataset_creation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

# Load the CSV file
df = pd.read_csv("/content/output (1).csv")

# Define the values you want to match in columns C and D
value_D = "value_D"
value_C = "value_C"

# Create condition (D == value_D) and (C == value_C)
mask = (df.iloc[:, 3] == "TimesTen-Roman") & (df.iloc[:, 2] == 10)

# Fill column K (index 10) with desired value, e.g., "MATCHED"
df.iloc[mask, 10] = "Other"
# Save the updated CSV
df.to_csv("output.csv", index=False)

In [5]:
import pandas as pd

# Load CSV
df = pd.read_csv("/content/output.csv")

# Count empty cells in column K (index 10)
empty_k_count = df.iloc[:, 10].isna().sum() + (df.iloc[:, 10].astype(str).str.strip() == "").sum()

print("Number of empty cells in column K:", empty_k_count)

Number of empty cells in column K: 18703